@{
    ViewBag.Title = "About";
}

<main>

    <div class="page-content">


        <!-- Page main content START -->
        <div class="page-content-wrapper border">

            <!-- Title -->
            <center>
                <div class="row">
                    <div class="col-12 mb-6">
                        <h1 class="h3 mb-2 text-success mb-sm-0">User Profile Details</h1>
                    </div>
                </div>
            </center>
            <br />
            <br />


            <div class="row g-4">

                <!-- Personal information START -->
                <div class="col-xxl-12">
                    <div class="card bg-transparent border rounded-3 h-100">

                        <!-- Card body START -->
                        <div class="card-body">
                            <!-- Information START -->
                            <div class="row">
                                <!-- Information item -->
                                <div class="col-md-6">
                                    <ul class="list-group list-group-borderless">

                                        <li  class="list-group-item text-success">
                                            <span>Name:</span>
                                            <span class="h6 mb-0"></span>
                                        </li>

                                        <li  class="list-group-item text-success">
                                            <span>Surname:</span>
                                            <span class="h6 mb-0"></span>
                                        </li>

                                        <li class="list-group-item text-success">
                                            <span>Cellphone:</span>
                                            <span class="h6 mb-0"></span>
                                        </li>

                                        <li  class="list-group-item text-success">
                                            <span>Email Address:</span>
                                            <span class="h6 mb-0"></span>
                                        </li>
                                        <li class="list-group-item text-success">
                                            <span>Password:</span>
                                            <span class="h6 mb-0"></span>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <hr />
                            <div>
                                <a href="/Home/UpdateProfile" class="btn btn-success mb-2 mb-sm-0"><i class="far fa-fw fa-edit"></i>Update user</a>
                            </div>
                            <!-- Information END -->
                        </div>
                        <!-- Card body END -->
                    </div>
                </div>
                <!-- Personal information END -->
            </div>
            <!-- Page main content END -->

        </div>
        <!-- Page content END -->

</main>